.bar-header {
  background-color: #007480;
}

.ion-ionic:before {
  content: "\f3ea";
}

.ion-home {
  color: #007480;
}

.ion-ios-bell {
  color: #FAC04C;
}

.ion-chatbox {
  color: #189D0E;
}

.ion-calendar {
  color: #AB6FBF;
}

.ion-folder {
  color: #FFE791;
}

.ion-earth {
  color: green;
}

.ion-help-buoy {
  color: red;
}

.ion-log-out {
  color: red;
}